* {
	box-sizing: content-box;
	margin: 0;
	color: #ebebeb;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
}
body {
	background: #777;
	width: 960px;
}
header {
	margin: 0 15%;
	text-align: center;
	background: yellow;
	padding: 20px;
}
nav {
	margin: 0 15%;
	background: purple;
	padding: 20px;
	text-align: center;
}
section {
	margin-left: 15%;
	text-align: center;
	float: left;
	width: 495px;
	background: #b300b3;
}
aside {
	margin-right: 15%;
	text-align: center;
	float: right;
	width: 460px;
	background: #b399b3;
}
h1 {
	
}
h2 {

}
h3 {

}
p {
		
}
footer {

}
footer.clear {
	clear: both;
}
#article {
	background-image: url("https://s-media-cache-ak0.pinimg.com/originals/b2/b8/36/b2b83698835aa97555bf91380c1603c8.jpg");
	background-image-size: 100%;
	background-repeat: repeat-y;
}